@import "vars";
@import "login";
@import "menu";
@import "userView";
@import "search";


body{
  height: 90vh;
  background-color: $base-color;
  margin: 0px;
  padding-bottom: 10px;
  font-family: $primary-font;
}
#root{
  margin: 0px auto;
  padding: 0px;
  height: 100%;
}